.description {
	position: relative;
}
.text {
	display: block;
	width: 80%;
	margin: 70px auto;
	font-size: 30px;
	text-align: center;
	font-weight: bold;
}

.klizma {
	position: absolute;
	top: 40%;
	right: -1%;
}