.appointments {
	background-color: #3E4480;
	color: #fff;
	font-size: large;
	font-weight: bold;
	padding: 20px;
	width: 80%;
	margin: 30px auto 0 auto;
	border-radius: 20px;
	text-align: center;
}

.appointments-title {
	margin-bottom: 5px;
}

.appointments-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 20px;
}

.appointment {
	border-radius: 15px;
	display: flex;
	column-gap: 20px;
	width: 90%;
	height: 80px;
	background-color: #ffffff1b;
	padding: 0 15px;
}
 .date {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	width: 30%;
 }

 .day {

 }

 .time {

 }

 .appointment-bar {
	width: 1px;
	height: 70%;
	background-color: #fff;
	display: flex;
	align-self: center;
 }

 .analys-data {
	font-size: medium;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
 }

 .appointment-lab-name {

 }

 .appointment-analys-name {

 }